.card__container{
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .card__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {

    .card__container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}
@media screen and (min-width: 1024px) {

    .card__container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
}