* {
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.App .App__rubricas {
  margin: 2rem;
}

/*card regular*/
.card--regular {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 468px;
  align-items: flex-start;
}
.card--regular .card__image--regular {
  width: 100%;
  height: 240px;
  outline: 1px solid #F2F2F2;
  background-color: #BCD6FF;
}
.card--regular .card__title--regular {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding: 0.5rem 1rem;
}
.card--regular .card__title--regular span {
  color: #0250C9;
}
.card--regular .card__description--regular {
  font-family: Arial;
  color: #333333;
  font-size: 1rem;
  line-height: 24px;
  padding: 0px 1rem;
}
.card--regular .card__author--regular {
  font-family: Arial;
  color: #272727;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 0.5rem 1rem;
}

/*card author*/
.card--author {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 240.57px;
  margin: 20px;
  padding: 1rem 1rem 0px 1rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #CCCCCC;
}
.card--author .card__image--author {
  width: 56.57px;
  min-height: 56.57px;
  background-color: #CCCCCC;
  border-radius: 50%;
  order: 2;
  margin: 0.5rem;
}
.card--author .card__title--author {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: center;
  max-height: 40%;
  order: 1;
}
.card--author .card__title--author span {
  color: #0250C9;
}
.card--author .card__description--author {
  display: none;
}
.card--author .card__author--author {
  font-family: Arial;
  color: #272727;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 0.5rem;
  order: 3;
}
.card--author div {
  background-color: #5A5A5A;
  width: 80px;
  height: 1px;
  left: calc(50% - 40px);
  bottom: 0px;
  order: 4;
}

/*card Cinema*/
.card--cinema {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 574.07px;
  justify-content: space-between;
  align-items: stretch;
  background-color: #1C1C1F;
  color: #F2F2F2;
}
.card--cinema .card__image--cinema {
  width: 100%;
  min-height: 450.07px;
  background-color: #BCD6FF;
  outline: 1px solid #F2F2F2;
}
.card--cinema .card__title--cinema {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.2px;
  padding: 0.5rem 1rem;
}
.card--cinema .card__description--cinema {
  display: none;
}
.card--cinema .card__author--cinema {
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-top: 0.5rem;
  padding: 0px 1rem 0.5rem 1rem;
}

.card__container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
@media screen and (min-width: 1024px) {
  .card__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}
.module__container .module__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: "Roboto Slab", serif;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #E4E4E4;
}
.module__container .module__layout {
  margin: 1rem 0px;
  width: auto;
  height: auto;
  display: grid;
}
.module__container .module__footer {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-family: "Roboto Slab", serif;
  padding: 1rem;
  border-bottom: 1px solid #E4E4E4;
  border-top: 1px solid #E4E4E4;
  letter-spacing: -0.2px;
}
.module__container .module__footer .module__footer--negrilla {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  max-height: 2rem;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 700;
}
.module__container .module__footer .module__footer--point {
  margin: 10px;
  color: #CCCCCC;
  font-size: 1.5rem;
  max-height: 2rem;
}
.module__container .module__footer .module__footer--text {
  display: flex;
  align-items: center;
  max-height: 2rem;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .module__layout {
    margin: 1rem 0px;
    max-width: 925px;
    height: auto;
    display: grid;
    grid-template-areas: "a b c" "a d c";
    grid-template-rows: 1fr 0.75fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .module__layout .module__layout--left {
    grid-area: a;
  }
  .module__layout .module__layout--centerup {
    grid-area: b;
  }
  .module__layout .module__layout--centerdown {
    grid-area: d;
  }
  .module__layout .module__layout--right {
    grid-area: c;
  }
  .module__footer {
    display: flex;
    flex-direction: row;
  }
  .module__footer--text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
  }
}
@media screen and (min-width: 769px) {
  .module__layout {
    margin: 1rem 0px;
    max-width: 925px;
    height: auto;
    display: grid;
    grid-template-areas: "a b c" "a d c";
    grid-template-rows: 1fr 0.75fr;
    grid-template-columns: 1.15fr 1fr 0.75fr;
  }
  .module__layout .module__layout--left {
    grid-area: a;
  }
  .module__layout .module__layout--centerup {
    grid-area: b;
  }
  .module__layout .module__layout--centerdown {
    grid-area: d;
  }
  .module__layout .module__layout--right {
    grid-area: c;
  }
  .module__footer {
    display: flex;
    flex-direction: row;
  }
  .module__footer--text {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */