*{
    margin: 0px;
}
.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
$tipografia-encabezados: 'Roboto Slab', serif;
$tipografia-encabezados-color-azul: #0250C9;
$tipografia-contenido: Arial;
$tipografia-contenido-color: #333333;
$tipografia-autor-color: #272727;
